/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eeeeee !important;
}
.loadingSpinner {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.postContainer {
  padding: 20px !important;
}
